@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}


/* nav styles start  */

.naver {
  display: flex;
  justify-content: space-between;
  padding: 24px 160px;
  align-items: center;
}
.naver h3 {
  width: 280px;
  height: 38px;
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-1 {
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid #006a50;
  color: #006a50;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s;
}
.btn-1:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* nav styles end */

/* Banner Section Start */

.banner-1 {
  display: flex;
  margin-top: 44px;
  align-items: center;
  width: 1280px;
  padding: 80px 100px;
  border-radius: 24px;
  background: #c6e4d6;
  gap: 64px;
}
.banner-1 h4 {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Poppins", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.banner-1 h1 {
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-2 {
  width: 300px;
  height: 56px;
  border-radius: 8px;
  background: #006a50;
  color: #fff;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 24px;
  transition: 0.3s;
}

.btn-2:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Banner Section End */

/* Cart section start  */

section h2 {
  width: 100%;
  height: 48px;
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
  padding-left: 40px;
  
  
}

.cart-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  padding: 24px;
}

.card {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding: 24px;
  box-shadow: 1px 1px 3px;
  transition: 0.1s;
}
.card img {
      padding-bottom: 24px;
}

.card h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: "Poppins", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 12px;
}

.card p {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card:hover {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding: 24px;
  box-shadow: 5px 5px 15px;
}
/* Cart section start  */
