@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
.container {
  width: 1400px;
  margin: auto;
}
body {
  background-color: #f1f1f3;
}

/* nav styles start  */

.naver {
  display: flex;
  justify-content: space-between;
  padding: 24px 160px;
  align-items: center;
}
.naver h3 {
  width: 280px;
  height: 38px;
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-1 {
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid #006a50;
  color: #006a50;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s;
}
.btn-1:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* nav styles end */

/* Banner Section Start */

.banner-1 {
  display: flex;
  margin-top: 44px;
  align-items: center;
  width: 1280px;
  padding: 80px 100px;
  border-radius: 24px;
  background: #c6e4d6;
  gap: 64px;
  padding-bottom: 80px;
}
.banner-1 h4 {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Poppins", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.banner-1 h1 {
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-2 {
  width: 300px;
  height: 56px;
  border-radius: 8px;
  background: #006a50;
  color: #fff;
  font-family: "Poppins", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 24px;
  transition: 0.3s;
}

.btn-2:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Banner Section End */

/* Cart section start  */
.hero {
  padding-bottom: 80px;
}

section h2 {
  width: 100%;
  height: 48px;
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
  padding-left: 40px;
}

.cart-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding: 24px;
}

.card {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding: 24px;
  box-shadow: 1px 1px 3px;
  transition: 1s;
}
.card img {
  padding-bottom: 24px;
}

.card h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: "Poppins", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 12px;
}

.card p {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card:hover {
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding: 24px;
  box-shadow: 5px 5px 15px;
  transform: rotate(360deg);
}
/* Cart section End */

/* Main section start  */

.main h1 {
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
}

.main p {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.main-1 {
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
  gap: 24px;
}
.mainbox {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  transition: 1s;
  margin-bottom: 32px;
}
.mainbox:hover {
  box-shadow: 4px 4px 15px;
}
.mainbox img {
  padding-bottom: 24px;
}
.mainbox h3 {
  color: rgba(14, 14, 14, 0.8);
  font-family: "Poppins", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 12px;
}
.mainbox p {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 24px;
}
.mainbox-1 {
  border-radius: 16px;
  border: 0px solid #5490f5;
  background: rgba(84, 144, 245, 0.2);
}

.btn {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  background: #5490f5;
  border: none;
  color: #fff;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.2);
}

.btn-3 {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  background: #09a15c;
  border: none;
  color: #fff;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s;
}

.btn-3:hover {
  transform: scale(1.2);
}

.btn-4 {
  width: 122px;
  height: 41px;
  border-radius: 8px;
  background: #ffc239;
  border: none;
  color: #fff;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s;
}

.btn-4:hover {
  transform: scale(1.2);
}

.mainbox-2 {
  border-radius: 16px;
  border: 0px solid #09a15c;
  background: #c6e4d6;
}
.mainbox-3 {
  border-radius: 16px;
  border: 0px solid #ffc239;
  background: #f7ebcf;
}
.yunus {
  display: flex;
  position: relative;
  padding: 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  padding-bottom: 80px;
  text-align: center;
}
.yunus p {
  color: rgba(14, 14, 14, 0.6);
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 12px;
}
.y-img {
  position: absolute;
  top: 23px;
  left: 32px;
}

.yunus p {
  position: inherit;
}
/* Main section End  */

/* Opinion styles start  */
.opinion h2 {
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
  padding-left: 0px;
}
.table {
  border-radius: 16px;
  background: #fff;
  padding: 32px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
th {
  background-color: #d9f2d9;
  border-right: 1px solid #ccc;
}
td:first-child {
  border-right: 1px solid #ccc;
}
td select {
  background-color: #e6ffe6;
  border: 1px solid #ccc;
  padding: 5px;
}

/* Opinion styles End  */

/* News section srart  */

.recent h1 {
  color: #0e0e0e;
  font-family: "Poppins", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 80px;
  padding-bottom: 12px;
}
.recent p {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.resent-news {
  display: flex;
  justify-content: space-evenly;
  border-radius: 24px;
  background: #fff;
  padding: 48px;
}
.resentImg {
  width: 500px;
  height: 306px;
  border-radius: 24px;
  background: url(B11A1--assignment-1/assets/satelite.png) lightgray 50% / cover
    no-repeat;
  text-align: right;
}

.resentCnt {
  width: 50%;
  text-align: left;
}
.resentCnt h2 {
  padding-bottom: 12px;
}
.resentCnt .al {
  padding-bottom: 12px;
}
.resentCnt p {
  padding-bottom: 12px;
}
.resentCnt button {
  border-radius: 8px;
  background: #006a50;
  padding: 13px 26px;
  color: #fff;
  border: none;
  transition: 0.3s;
}
.resentCnt button:hover {
  border-radius: 8px;
  background: #006a50;
  padding: 13px 26px;
  color: #fff;
  border: none;
  transform: scale(1.1);
}
/* News section End  */